<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mobile/fragments/header :: header}">
  <title>광주특장 | 전남특장 | 수리센터</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="naver-site-verification" content="531845ce020990c6bd08e5eb383a26bb0691fcdb" />
</head>

<body>
<div th:replace="~{mobile/fragments/bodyHeader :: bodyHeader}"></div>

<div class="container">
  <div class="left">
    <img src="/images/home.jpeg" alt="이미지 공간">
  </div>
  <div class="right">
    <div class="title">광주특장</div>
    <div class="subtitle">광주특장수리, 광주특장사고, 광주특장수리, 전남특장</div>
    <div class="subtitle"><strong>탑차수리, 내장탑, 윙바디<br>냉동탑, 리프트 전문점</strong></div>
    <div class="buttons">

      <!-- 전화 버튼 -->
      <a class="button" href="tel:01052433064">
        <img src="images/phone.png" alt="전화">
        전화
      </a>

      <!-- 카카오톡 버튼 -->
      <a class="button" onclick="window.location.href='https://open.kakao.com/o/sVPLBe6';">
        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111683.png" alt="카카오톡">
        카카오톡
      </a>

    </div>
  </div>
</div>

<div class="info">
  <strong>광주특장 | 전남특장 | 수리센터</strong>
  <span>
    주요작업내용<br>
    특장1톤급(특장수리전문/보험수리/사고수리)<br>
    수리기간특장차무료대차서비스<br>
    무료전국픽업서비스(수리 전후)<br>
    전국견인서비스<br>
    1688-2178 / 1666-1347<br>
    010-5243-3064
  </span>
</div>

<div th:replace="~{mobile/fragments/footer :: footer}"></div>

<script>
  function showPopup() {
    document.getElementById('popup').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
  }

  function hidePopup() {
    document.getElementById('popup').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
  }
</script>

</body>
</html>
